$container-max-width:           90em !default;

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.container-fluid {
  /*
  margin-right: 5px;
  margin-left: 5px;
  */
}

@media screen and (min-width: $container-max-width) {
  .container {
    max-width: $container-max-width;
  }
}
